ETRADELOGPATH="/Users/<username>/data/logs/client-log.txt" # change <username to your local user>
SSHHOST="<hostname to ssh data to>"
HTMLPATH="<html path for data on remote host>"
DISCORDURL1="<url for discord updates>"
SLACKURL1="<url for slack updates>"
